Resources

# Ignore thumbnails created by windows
Thumbs.db

# Ignore files build by ndk and eclipse
proj.android/libs/armeabi/
proj.android/libs/x86/
bin/
obj/
gen/
assets/
local.properties

# Ignore python compiled files
*.pyc

# Ignore files build by xcode
.DS_Store
._.*
proj.ios_mac/*.xcodeproj/*
!proj.ios_mac/*.xcodeproj/project.pbxproj
!proj.ios_mac/*.xcodeproj/project.xcworkspace/contents.xcworkspacedata
!proj.ios_mac/*.xcodeproj/xcshareddata

# Ignore vim swaps
*.swp
*.swo

.settings
.classpath
